.board-wrapper {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

/* MAIN BOARD */
.board {
  position: relative;

  width: 90%;
  max-width: 600px;
  aspect-ratio: 1485 / 575; /* ✅ ONLY THIS */

  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.zone {
  position: absolute;
  cursor: pointer;

  transition: 0.2s;
}

.zone.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Chip Selector */
.chip-selector {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.chip-option {
  position: relative;
  width: 50px;
  height: 50px; /* 🔥 important */
  cursor: pointer;
}

.chip-option img {
  width: 100%;
  height: 100%;
}

.chip-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-weight: bold;
  font-size: 12px;
  pointer-events: none;
}

.chip-option:hover {
  transform: scale(1.1);
}

.chip-option.active {
  transform: scale(1.2);
  outline: 2px solid gold;
  border-radius: 50%;
}

/* Chip on board */
.chip {
  position: absolute;
  top: 50%;
  left: 50%;

  width: clamp(22px, 5vw, 40px); /* 🔥 responsive */
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.chip img {
  width: 100%;
}

.chip span {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1em;
  color: yellow;
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

@media (max-width: 600px) {
  .chip span {
    font-size: 0.7em;
  }
}

.bet-info {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text);
  padding: 0 10px;
}

.chip-selector-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 20px; /* space between chip selector and buttons */
  margin-bottom: 10px;
  margin-left: 20px; /* align with board padding */
}

.chip-action-buttons {
  display: flex;
  flex-direction: column; /* stack buttons vertically */
  gap: 10px; /* space between buttons */
}

.chip-btn {
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--sans);
  background: linear-gradient(145deg, #ff3c3c, #b30000);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 0 #7a0000;
  transition: all 0.1s ease;
}

.chip-btn:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #7a0000;
}

.chip-btn:disabled {
  background: linear-gradient(145deg, #661919, #750000);
  color: #7c7c7c;
  cursor: not-allowed;
  box-shadow: none;
}