.board-wrapper {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

/* MAIN BOARD */
.board {
  position: relative;

  width: 90%;
  max-width: 600px;
  aspect-ratio: 1485 / 575; /* ✅ ONLY THIS */

  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.zone {
  position: absolute;
  cursor: pointer;

  transition: 0.2s;
}

.zone.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Chip Selector */
.chip-selector {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.chip-option {
  width: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.chip-option:hover {
  transform: scale(1.1);
}

.chip-option.active {
  transform: scale(1.2);
  outline: 2px solid gold;
  border-radius: 50%;
}

/* Chip on board */
.chip {
  position: absolute;
  top: 50%;
  left: 50%;

  width: clamp(22px, 5vw, 40px); /* 🔥 responsive */
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.chip img {
  width: 100%;
}

.chip span {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1em;
  color: yellow;
  text-shadow: 0 0 5px black;
  font-weight: bold;
}

@media (max-width: 600px) {
  .chip span {
    font-size: 0.7em;
  }
}

.bet-info {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text);
  padding: 0 10px;
}